@page "/dark"
@using Astronomy

<h3>Dark time</h3>
<p>Current time: @curTime.Hour:@curTime.Minute:@curTime.Second</p>

<p>Тёмный уголок (уколок вампира, вора, военного)</p>
<p>Когда заходит солнце, самое тёмное время суток, свет луны и т.п.</p>

@code {
    DateTime curTime = DateTime.Now;
    SunTimes MoscowSunTimes = SunCalculator.GetTimes(DateTime.Now, 55.75700, 37.61500);
    SunTimes KazanSunTimes = SunCalculator.GetTimes(DateTime.Now, 55.80030, 49.10827);

}
