@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">

            <label for="SelectedDate" class="control-label">Date</label>
            <input type="datetime-local" form="SelectedDate" class="form-control" @bind="@selectedDate" />

            <label for="Latitude" class="control-label">Lat</label>
            <input form="Latitude" class="form-control" @bind="@latitude" />

            <label for="Longitude" class="control-label">Lng</label>
            <input form="Longitude" class="form-control" @bind="@longitude" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    public static DateTime selectedDate = DateTime.Now;
    public static double latitude = 55.80030;
    public static double longitude = 49.10827;
}
