<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SolarCorner</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="photo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Photo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dark">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dark
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="uraza">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Uraza
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="astronomy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Astronomy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="garden">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Garden
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
